.code_modal {
    .modal_content {
        font-family: var(--secondary-font);

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                .code_text {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    background-color: var(--card-secondary);
                    border-radius: 10px;
                    min-height: 58px;
                    padding: 20px 20px;
                    position: relative;

                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }

                    pre {
                        font-family: inherit;
                        font-size: 16px;
                        font-size: 600;
                        overflow: auto;
                    }

                    .copy_btn {
                        position: absolute;
                        top: 6px;
                        right: 6px;
                    }
                }
            }
        }
    }
}