@font-face {
    font-family: 'Cascadia Code';
    src: url('CascadiaCode-Regular.woff') format('woff2'),
        url('CascadiaCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}