:root {
    --font-family-sans: var(--font-inter), sans-serif;
    --secondary-font: var(--font-share-tech-mono), sans-serif;
    --text: #333333;
    --text-secondary: #6B7280;
    --layout: #F9FAFB;
    --layout-secondary: #F3F4F6;
    --card: #f5f5f5;
    --card-secondary: #ffefef;
    --border: #E0E0E0;
    --border-secondary: #E5E7EB;
    --button: #007BFF;
    --button-dark: #045fc0;
    --button-secondary: #E5E7EB;
    --modal-shadow: #3333330f;
    --modal: #f4f4f4;
    --scrollbar: #e6e6e6;
    --scrollbar-thumb: rgb(250, 241, 241);
}

body.dark-theme {
    --font-family-sans: var(--font-inter), sans-serif;
    --text: #E0E0E0;
    /* Light gray text for dark mode */
    --text-secondary: #9CA3AF;
    /* Lighter gray for secondary text */
    --layout: #1F2937;
    /* Dark gray for the main layout */
    --layout-secondary: #111827;
    /* Darker gray for secondary layout */
    --card: #232f42;
    /* Dark blue-gray for cards */
    --card-secondary: #2D3748;
    /* Slightly lighter for secondary cards */
    --border: #374151;
    /* Darker gray border */
    --border-secondary: #4B5563;
    /* Lighter dark gray for secondary border */
    --button: #3B82F6;
    /* Lighter blue for primary buttons */
    --button-dark: #2563EB;
    /* Slightly darker blue for hover/focused button */
    --button-secondary: #374151;
    /* Dark gray for secondary buttons */
    --modal-shadow: #00000021;
    /* Darker shadow with transparency */
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family-sans);
    background-color: var(--layout);
    color: var(--text);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a,
span {
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.w-100 {
    width: 100% !important;
}

[data-no-transition] {
    transition: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: var(--scrollbar-thumb);
    border-radius: 20px;
}