.color_picker {
    position: relative;
    z-index: 1;

    .color_picker_toggle {
        width: 24px;
        height: 24px;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .color_picker_dropdown {
        position: absolute;
        bottom: 100%;
        left: 0%;
        background-color: white;
        transform-origin: top left;
        overflow: clip;

        .color_picker_ {
            width: 100% !important;
            height: 100%;
            display: flex;
            flex-direction: column;

            >div {
                &:nth-child(2) {
                    margin-top: auto !important
                }
            }
        }
    }
}